<div class="comment">
  <span class="with-comment"></span>

  <%= form_with url: commenter_index_path, method: "post", html: { style: "display: none" } do |f| %>
    <%= f.hidden_field :table, id: "table-#{table}-#{column}", value: table %>
    <%= f.hidden_field :column, id: "column-#{table}-#{column}", value: column %>

    <div class="input-group">
      <%= f.text_area :comment, id: "comment-#{table}-#{column}", class: "form-control", required: true, autocomplete: 'off' %>
    </div>
  <% end %>
</div>
