tr.id {
  color: darkgreen;
  > * {
    font-weight: normal !important;
  }
}

tr.foreign-id {
  color: #325ea8;
  > * {
    font-weight: normal !important;
  }
}

tr.timestamp {
  color: #8a5858;
  > * {
    font-weight: normal !important;
  }
}

.no-comment {
  color: #999;
}

.small-info {
  font-size: 0.7em;
  padding-left: 10px;
  font-weight: normal;
}

.column_type {
  color: #999;
}

.table {
  background-color: white;
}

.hilite {
  background-color: black;
}

.hilite-ccc {
  background-color: #eee;
}

.table th, .table td {
  border-top: none !important;
}

.hidden-column {
  display: none;
}

.mb-20 {
  margin-bottom: 20px;
}

.tr-column {
  th {
    width: 20%;
  }

  td {
    width: 80%;
  }
}

.mb-100 {
  margin-bottom: 100px;
}

textarea {
  overflow: hidden;
}

.comment-display {
  background-color: #efefef;
  padding: 10px;
  min-height: 2em;
}
